documentation:
  image: sparkfabrik/docker-locke-server:latest
  environment:
    - DNSDOCK_ALIAS=playbook.sparkfabrik.loc
  volumes:
    - ./assets:/srv/locke/assets
    - ./content:/srv/locke/content
    - ./custom/config.js:/srv/locke/config.js
    - ./custom/custom-styles.css:/srv/locke/themes/spark/public/styles/custom.css
