.header {
  background-image: url("../images/header_small.png");
  background-position: center;
  background-size: cover;

  @include media-breakpoint-up(sm) {
    background-image: url("../images/header_medium.png");
    background-position: right;
  }
  @include media-breakpoint-up(lg) {
    background-image: url("../images/header_large.png");
  }

  &__cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10.5rem;

    @include media-breakpoint-up(md) {
      height: 21rem;

      &--home {
        align-items: center;
        justify-content: center;
        height: 21rem;
      }
    }

    @include media-breakpoint-up(lg) {
      &--home {
        height: 24rem;
      }
    }

    @include media-breakpoint-up(xl) {
      &--home {
        height: 26rem;
      }
    }
  }

  &__logo-link {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    font-weight: 300;
    color: #fff;

    @include media-breakpoint-up(md) {

      &--home {
        margin-bottom: 1rem;
      }
    }
  }

  &__logo-img {
    float: left;
    width: auto;
    height: 1.4rem;
    clear: left;
  }

  &__company-playbook-title {
    width: 50%;
    margin-bottom: 1.15rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      width: 100%;
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  &__company-playbook-link {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }

}
