html {
  font-size: 20px; //20px
}

body {
  padding-bottom: $height-navbar;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

@include media-breakpoint-up(md) {
  body {
    padding-bottom: 0;
  }
}