/* --- General --- */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?4337484');
  src: url('../font/fontello.eot?4337484#iefix') format('embedded-opentype'),
  url('../font/fontello.woff?4337484') format('woff'),
  url('../font/fontello.ttf?4337484') format('truetype'),
  url('../font/fontello.svg?4337484#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.btn,
.btn:hover,
.btn-primary,
.btn-primary:hover {
  background: #d32a2a;
  color: #FFF;
  border: 1px solid #d32a2a;
}

.btn:focus,
.btn:active,
.btn-info:focus,
.btn-info:active,
.btn-primary:focus,
.btn-primary:active,
.btn:focus:active,
.btn-primary:active:focus,
.btn-info:active:focus{
  background: #d32a2a;
  border: 1px solid #d32a2a;
  box-shadow: none;
  outline: none;
  color: #FFF;
}

.form-login{
  position: absolute;
  top: 0;
  right: 25px;
  z-index: 5;
}

.col-sm-3.hidden-xs {
  border-right: 1px solid #EAEAEA;
}

.home-categories {
  margin: 50px 10px;
}

.home-categories .panel-heading {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  background-color: #F5F5F5;
  text-transform: uppercase;
}

.home-categories .panel-heading,
.home-categories .panel .page {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-categories .panel a {
  color: #888;
}

.home-categories .panel a:hover,
.home-categories .panel a:active{
  color: #d32a2a;
  text-decoration: none;
}

.page-excerpt .search-query {
  background: #FFFDDC;
}

.error {
  padding: 0 20px;
}

.menu .add-page{
  color: #0085a1;
}

.dropdown-menu>li>a:hover{
  cursor: pointer;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: 10px;
}

.form-horizontal .form-group{
  margin: 0;
}

.CodeMirror{
  border: 1px solid #EAEAEA;
  padding: 5px;
  margin-bottom: 20px;
}
