.content {
    padding: 0 1rem;
    margin: 3rem 0;
}

.content img {
  margin-left: 0;
}

.only-print {
  display: none;
}

.score ul {
  margin-bottom: 2rem !important;
  list-style: none;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #ccc;
}

.score li {
  width: 100%;
  font-size: .8rem;
}

.score input[type="checkbox"] {
  margin-right: .5rem;
  position: relative;
  width: .8rem;
  height: .8rem;
}

.background-grey {
  border: 1px solid #ccc;
  background-color: #F3F3F3!important;
  margin-top: 4rem;
  padding: 1rem;
}

@media print {

  .only-print {
    display: block;
  }

  .no-print {
    display: none;
  }

  .logo::after,
  .search-form,
  .col-sm-3.hidden-xs,
  .footer,
  .page-meta,
  .score.only-print ul li::before {
    display: none;
  }

  .logo i {
    color: #E60000!important;
  }

  .header .logo span {
    visibility: hidden;
  }

}
